body {
    background: linear-gradient(109.6deg, rgb(255, 207, 84) 11.2%, rgb(255, 158, 27) 91.1%);
}

h1 {
    color:black;
    font-size: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
p, ol, a{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
.email-link{
    display: block;
    text-align: center;
}


.photolink, .contactlink{
    display: grid;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
    
  
}

.homepagelink{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 30px;
    border-radius: 4px;
    padding: 10px;
}

